streamlit==1.45.1
torch==2.2.2
numpy<2.0
openai-whisper
transformers
langchain
langchain-community
langchain-huggingface
faiss-cpu
pydantic
sentence-transformers
ffmpeg-python
orjson
pandas
ffmpeg
